<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mon application ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <style>
     html, body { height: 100%; }
     .container {min-height: 100%; overflow:hidden;}
      body {
            margin: 0;
            padding: 0;
            background: url('../../Content/images/bk1.jpg') no-repeat;
            background-size: cover;
            background-attachment: fixed;
        }

        hr {
          display:none;
        }

      footer {       
         position: fixed;
         bottom: 0;
        }

    </style>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @*@Html.ActionLink("Quiz System", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })*@
                <span class="navbar-brand">Quiz System</span>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @*<li>@Html.ActionLink("Accueil", "Index", "Home")</li>
                        <li>@Html.ActionLink("À propos de", "About", "Home")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>*@


                    @if (Session["user"] != null)
                    {
                        var user = Session["user"] as RecruitmentQUIZ.Models.User;
                        if (user.SecurityLevel.Libelle == "Admin")
                        {
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="False">Parametrage<span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li>@Html.ActionLink("Projets", "Index", "Projet")</li>
                                    <li>@Html.ActionLink("Questions - Reponses", "Index", "Question")</li>
                                </ul>
                            </li>
                        }
                    }

                </ul>
                <ul class="nav navbar-nav navbar-right">

                    @if (Session["user"] != null)
                    {
                        var user = Session["user"] as RecruitmentQUIZ.Models.User;

                        <li>
                            @*@Html.ActionLink("Hello " + user.Name, "", "")*@
                            <a href="#">Hello @user.Name</a>
                        </li>
                        <li>
                            @Html.ActionLink("Logout", "Logout", "Login")
                        </li>
                    }
                    else
                    {
                        <li>@Html.ActionLink("Login", "Login", "Login")</li>
                    }


                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content" style="background-color:white">

        @RenderBody()

        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Quiz System</p>
        </footer>

    </div>
   

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
