@model RecruitmentQUIZ.Models.Question

@{
    ViewBag.Title = "Reponse";
}
    <script src="~/Scripts/jquery-3.4.1.js"></script>

<script type="text/javascript">
	$(function () {
		$("#btnSubmit").click(function () {
			var response_str = "";
			debugger;
			if ($("#hidoption").val() === 'True') {

				$('input:checkbox[class=checkboxBtnClass]:checked').each(function () {
					response_str += $(this).val() + "_";
				});

			} else {

				// In this case  we have only one choice for response option
				if ($("input[type='radio'].radioBtnClass").is(':checked')) {
					response_str = $("input[type='radio'].radioBtnClass:checked").val();
				}
			}

			if (response_str.trim() != "") {
				SaveResponse(response_str);
			} else {
				return false;
			}

		})

		$("#btnCancel").click(function () {
			window.location.href = "/OptionReponse/Index/" + $("#hidquestion").val();
		});


		function SaveResponse(str_response) {
			debugger;
			var QuestionResponse = {
				QuestionId: $("#hidquestion").val(),
				LstOptionId: str_response
			}

			$.ajax({
				async: true,
				type: 'GET',
				dataType: 'JSON',
				contentType: 'application/json; charset=utf-8',
				data: QuestionResponse,
				url: '/OptionReponse/SaveQuestionAnswer',
				success: function (data) {
					if (data.success === true) {
						alert(data.message);
						window.location.href = "/OptionReponse/Index/" + $("#hidquestion").val();
					}
				},
				error: function (data) {
					alert(data);
				}
			});
		};

	});
</script>

<h2>Reponse(s) possible(s)</h2>

    <div class="panel panel-default">
		<div class="panel-heading">
			<input type="hidden" id="hidquestion" name="" value="@Model.QuestionID" />			
			<span style="font-weight:bold">Question  </span> : @Model.Libelle
		</div>
        <div class="panel-body">

            <input type="hidden" id="hidoption" name="" value="@Model.EstMultiChoix.ToString()" />

            @if (Model.EstMultiChoix)
            {
                foreach (var item in Model.OptionReponses)
                {
                    <input type="checkbox" class="checkboxBtnClass" id="@item.OptionReponseID" value="@item.OptionReponseID" /> @item.Libelle <br />
                }
            }
            else
            {
                foreach (var item in Model.OptionReponses)
                {
                    <input type="radio" id="@item.OptionReponseID" class="radioBtnClass" value="@item.OptionReponseID" name="group1" /> @item.Libelle <br />
                }
            }
            <br />

            <input id="btnSubmit" type="submit" name="submit" value="Valider" class="btn btn-primary" />
            <input id="btnCancel" type="submit" name="submit" value="Annuler" formaction="/OptionReponse/index/@Model.QuestionID" class="btn btn-default" />

        </div>

    </div>


